body {
    background-color: #000000;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    float: right;
    margin: 20px;
    text-align: center;
    width: auto;
    padding-top: 55px;
}

.nav-links{
    margin: 20px;
    color: white;
    text-decoration: none;
    background-color: var(--brightred);
    padding: 6px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
    background: radial-gradient(circle at 20% 98%, #000000, rgb(46, 177, 75))
    
}
.nav-links:hover {
    color: red;
    transition: all 0.2s ease-out;

}

.crusaderlogo{
    background-color: black;
    height: 20%;
    max-width: 12%;
    
}

.mainHeader{
    color: white;
    position: absolute;
    left: 12%;
    top: 6%;
    font-family: 'Aboreto', cursive;
    font-size: 2vw;
}

.homeHeader{
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-size: 2vw;
}


.homePageVideo video{
    display:block;
    height: 100%;
    width: 100%;
}

.homeTableText{
    color: white;
    font-size: 1.5vw;
    padding: 60px;
    line-height: 1.5;
}

.homeTableText h2 {
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

.contactUs {
    color: white;
}

.professional-headshot{
    position: relative;
    left: 10%;
    height: 65%;
    width: 65%;
    border-radius: 50%;
    padding-top: 3%;
}

.aboutText {
    color: white;
    font-size: 1.5vw;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.column {
    flex: 50%;
    color:white;
}


.portfolio {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.portfolio th {
    text-align: left;
}

.portfolio td{
    padding-right: 200px;
    border: solid white;
    color: rgb(46, 177, 75);
}

.portfolioHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 20px;
    color: white;
}


.contactForm {
    text-align: center;
    position: absolute;
    top: 300px;
    left: 40%;
    padding: 30px;
    background: linear-gradient(90deg, rgba(0,0,1,1) 10%, rgb(46, 177, 75) 50%);
    border-radius: 20px;
    width: 15%;
    margin: 10px;
    animation: stretch 2s ease 0s 1 normal forwards;
    border-width: 2px;
    border-color: rgb(46, 177, 75);
    border-style:outset;
    color: white;
}

@keyframes stretch {
    0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.contactForm input{
    border-radius: 20px;
    padding: 2px;
    width: 75%;
    height: 20%;
}

.submitButton {
    border-radius: 5px;
    border-style: outset;
    border-color: rgb(46, 177, 75);

}

.submitButton:hover {
    background-color: lightgreen;
    border-radius: 20px;
    cursor:pointer;
    color: red;
}



.previewHeader h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 2vw;
    color: white;
}

.previewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.previewButton button{
    color: white;
    text-decoration: none;
    background-color: var(--brightred);
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
    background: radial-gradient(circle at 20% 98%, #000000, rgb(46, 177, 75));
    cursor: pointer;
}

.previewButton button:hover{
    border: 3px;
    color: red;
    transition: all 0.2s ease-out;
}

.heatMap {
    width: 100%;
}

.socialMedia {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -30%;
    top: 1%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }

  .sc-ticker-tape-item {
    padding: 4px 15px;
}

.sc-ticker-tape {
    background: linear-gradient(
          -45deg,
          rgba(30, 87, 153, 0.3),
          rgba(220, 10, 10, 0.3),
          rgba(50, 150, 20, 0.3),
          rgba(25, 170, 222, 0.3)
        );
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


@media screen and (max-width: 1100px) {


    .nav-menu{
        display: inline-block;
        padding: 0;
    }

    .nav-menu li {
        list-style-type: none;
        margin-top: 0;
        padding-bottom: 20px; 
    }

    .mainHeader{
        display: none;    
    }
    
    .homeHeader{
        color: white;
        text-align: center;
        font-family: 'Aboreto', cursive;
        font-size: 2vw;
        padding-top: 60px;
        width: 100%;
    }

    .mainTable{
        width: 100%;
    }

    .portfolio{
        display: flex;
        height: 100%;
        padding: 0px 20px 20px 20px;
        width: 100%;
    }

    .portfolioHeader {
        width: 100%;
        height: 50%;
        font-size: 30px;
        color: white;
        
    }

    .contactForm{
        width: 50%;
        position: absolute;
        left: 20%;
        border: none;
        background: linear-gradient(90deg, rgba(0,0,1,1) 10%, rgb(46, 177, 75) 50%);
        border-color: rgb(46, 177, 75);
        border-width: 2px;
        border-style:outset;
    }

    .crusaderlogo{
        display: block;
        height: 143px;
        max-width: 143px;
        margin: 0;
        
    }

    .professional-headshot{
        position: relative;
        vertical-align: top !important;
        left: 10%;
        height: 65%;
        width: 65%;
        border-radius: 50%;
        
    }

    .row{
        color: white;
        width: 100%;
    }

    hr {
        display: none;
    }

    .homeTableText {
        text-align: left;
        display: block;
        width: 100%;
        padding: 0;
    }
    
}





